@use '../../styles/mixins.scss';

.graph {

    margin-bottom: 16px;

    &__title {
        @include mixins.title;
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;
        background-color: #EBE7E4;
        min-height: 265px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        width: 52px;
        height: 40px;
        border-radius: 24px;
        background-color: var(--text-color);
        padding: 12px 17px;
    }
}