@font-face {
    font-family: "Gilroy";
    src:
        url(../public/fonts/Gilroy-Medium.ttf) format(truetype),
        url(../public/fonts/Gilroy-Medium.woff) format(woff),
        url(../public/fonts/Gilroy-Medium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src:
        url(../public/fonts/Gilroy-Semibold.ttf) format(truetype),
        url(../public/fonts/Gilroy-Semibold.woff) format(woff),
        url(../public\fonts\Gilroy-Semibold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}