@use '../../styles/mixins.scss';

.description {
    &__title {
        @include mixins.title;
        text-align: center;
    }

    &__text {
        display: flex;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    &__list-title {
        @include mixins.title;
        text-align: center;
    }

    &__item-block {
        display: flex;
        align-items: center;
    }

    &__item-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    
    &__item-text {
        @include mixins.text;
    }
}

