
.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;

    &__logo-wrap {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__burger {
        width: 56px;
        height: 24px;
        position: relative;
        background: transparent;
        border: none;
        cursor: pointer;

        &::before {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            top: 7px;
            left: 0px;
            background: var(--text-color);
        }

        &::after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 7px;
            left: 0px;
            background: var(--text-color);
        }
    }
}
