@use '../../styles/mixins.scss';

.news-block {

    &__list {
        gap: 16px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        min-height: 260px;
        width: 100%;
        padding: 32px;
        background-color: #F8F8F8;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__subtitle {
        position: relative;
        padding-left: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    &__subtitle::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 7px;
        width: 6px;
        height: 6px;
        background-color: #252628;
        border-radius: 50%;
    }

    &__description {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    &__date {
        display: flex;
        gap: 6px;
    }

    &__date-number {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
    }

    &__date-month {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

}
