:root {
  --text-color: #252628;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
